In [ ]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [ ]:
prices = pd.read_csv('prices.csv')
tweet = pd.read_json('user-tweets.jsonl', lines=True)

In [ ]:
def find_price(date, prices):
  for j in range(len(prices)):
      if (str(date) == str(prices['date'][j])):
        return prices['price'][j]
  return False

In [ ]:
def make_prices(prices, tweet):
  combined = pd.DataFrame(columns=["date", "tweet", "price", "next_day_price", "next_week_price", "next_day", "next_week"])
  for i in range(len(tweet)):
    date = datetime.strptime(str(elon['CreatedAt'][i]), '%B %d, %Y at %H:%M%p').date()
    date2 = date
    date3 = date + timedelta(days=1)
    date4 = date + timedelta(days=7)
    while True:
      price = find_price(date2, prices)
      next_day_price = find_price(date3, prices)
      next_week_price = find_price(date4, prices)
      if date3 > datetime.now().date(): next_day_price = 1
      if date4 > datetime.now().date(): next_week_price = 1
      if price and next_day_price and next_week_price: break
      if price == False: date2 -= timedelta(days=1)
      if next_day_price == False: date3 += timedelta(days=1)
      if next_week_price == False: date4 += timedelta(days=1)
    if float(price) > float(next_day_price): next_day = 0
    else: next_day = 1
    if float(price) > float(next_week_price): next_week = 0
    else: next_week = 1
    combined = combined.append({
        "date": date,
        "tweet": tweet['Text'][i],
        "price": price,
        "next_day_price": next_day_price,
        "next_week_price": next_week_price,
        "next_day": next_day,
        "next_week": next_week
        }, ignore_index=True)
    print(combined)
  return combined

In [ ]:
print(elon.keys())

Index(['Text', 'UserName', 'LinkToTweet', 'TweetEmbedCode', 'CreatedAt'], dtype='object')

In [ ]:
date = datetime.strptime(str(elon['CreatedAt'][0]), '%B %d, %Y at %H:%M%p').date()
print(date)

2017-12-02

In [ ]:
combined = make_prices(prices, tweet)

In [ ]:
print(combined)

            date                                              tweet  price  \
0     2017-12-02  @highqualitysh1t I love the thought of a car d...  64.57
1     2017-12-02  @novaspivack Asimov's Foundation books should ...  64.57
2     2017-12-03  @novaspivack That's certainly the right way to...  64.57
3     2017-12-03  To preserve the transcendent majesty &amp; spe...  64.57
4     2017-12-03                 @harrisonlingren @JW8888888 Busted  64.57
...          ...                                                ...    ...
8904  2020-09-17         @ChrisDungeon Lot has happened in 13 years  38.57
8905  2020-09-18  @Erdayastronaut Current was too strong for dro...  38.57
8906  2020-09-18                              @TENETFilm Good movie  38.57
8907  2020-09-18  @DeborahPatteri @TENETFilm Sure, but which pla...  38.57
8908  2020-09-18                         of course I still love you  38.57

      next_day_price  next_week_price next_day next_week
0              63.45            65.62        0         1
1              63.45            65.62        0         1
2              63.45            65.62        0         1
3              63.45            65.62        0         1
4              63.45            65.62        0         1
...              ...              ...      ...       ...
8904            1.00             1.00        0         0
8905            1.00             1.00        0         0
8906            1.00             1.00        0         0
8907            1.00             1.00        0         0
8908            1.00             1.00        0         0

[8909 rows x 7 columns]

In [ ]:
combined.to_csv('combined.csv', index=False)