In [365]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [366]:
def make_oil(df):
  data = pd.DataFrame(columns=["url", "title", "date", "id", "tags", "description"])
  for i in range(len(df)):
    if "Generic 1st 'CL' Future" in df['tags'][i] or "oil" in str(df['title'][i]).lower() or 'oil' in str(df['description'][i]).lower():
      try: date = datetime.strptime(df['date'][i], '%Y-%m-%d').date()
      except: continue
      data = data.append({"url": df['url'][i], "title": df['title'][i], "date": date, "id": df['id'][i], "tags": df['tags'][i], "description": df['description'][i]}, ignore_index=True)
  return data

In [367]:
def find_price(date, prices):
  for j in range(len(prices)):
      if (str(date) == str(prices['date'][j])):
        return prices['price'][j]
  return False

In [368]:
def find_drill(date, drills):
  for j in range(len(drills)):
      if (str(date) == str(drills['date'][j])):
        return [drills['fact'][j], drills['last'][j]]
  return False

In [369]:
def make_prices(prices, oil):
  out = pd.DataFrame(columns=["url", "title", "date", "id", "tags", "description", "price", "next_day_price", "next_week_price", "next_day", "next_week"])
  for i in range(len(oil)):
    date = oil['date'][i]
    date2 = date
    date3 = date + timedelta(days=1)
    date4 = date + timedelta(days=7)
    while True:
      price = find_price(date2, prices)
      next_day_price = find_price(date3, prices)
      next_week_price = find_price(date4, prices)
      if date3 > datetime.now().date(): next_day_price = 1
      if date4 > datetime.now().date(): next_week_price = 1
      if price and next_day_price and next_week_price: break
      if price == False: date2 -= timedelta(days=1)
      if next_day_price == False: date3 += timedelta(days=1)
      if next_week_price == False: date4 += timedelta(days=1)
    if float(price) > float(next_day_price): next_day = 0
    else: next_day = 1
    if float(price) > float(next_week_price): next_week = 0
    else: next_week = 1
    out = out.append({
        "url": oil['url'][i],
        "title": oil['title'][i],
        "date": date,
        "id": oil['id'][i],
        "tags": oil['tags'][i],
        "description": oil['description'][i],
        "price": price,
        "next_day_price": next_day_price,
        "next_week_price": next_week_price,
        "next_day": next_day,
        "next_week": next_week
        }, ignore_index=True)
  return out

In [370]:
def make_drills(drills, oil):
  out2 = pd.DataFrame(columns=["url", "title", "date", "id", "tags", "description", "price", "next_day_price", "next_week_price", "next_day", "next_week", "drills_fact", "drills_last"])
  for i in range(len(oil)):
    date = oil['date'][i]
    date2 = date
    while True:
      drill = find_drill(date2, drills)
      if drill: break
      if drill == False: date2 -= timedelta(days=1)
    drills_fact = drill[0]
    drills_last = drill[1]
    out2 = out2.append({
        "url": oil['url'][i],
        "title": oil['title'][i],
        "date": str(date),
        "id": oil['id'][i],
        "tags": oil['tags'][i],
        "description": oil['description'][i],
        "price": oil['price'][i],
        "next_day_price": oil['next_day_price'][i],
        "next_week_price": oil['next_week_price'][i],
        "next_day": oil['next_day'][i],
        "next_week": oil['next_week'][i],
        "drills_fact": drills_fact,
        "drills_last": drills_last
        }, ignore_index=True)
  return out2

In [371]:
df = pd.read_csv('data - копия.csv')
oil1 = make_oil(df)
# print(oil1)

                                                    url  \
0     https://www.bloomberg.com/news/articles/2020-0...
1     https://www.bloomberg.com/news/articles/2020-0...
2     https://www.bloomberg.com/news/articles/2020-0...
3     https://www.bloomberg.com/news/articles/2020-0...
4     https://www.bloomberg.com/news/articles/2020-0...
...                                                 ...
2188  https://www.bloomberg.com/news/articles/2020-0...
2189  https://www.bloomberg.com/news/articles/2020-0...
2190  https://www.bloomberg.com/news/articles/2020-0...
2191  https://www.bloomberg.com/news/articles/2020-0...
2192  https://www.bloomberg.com/news/articles/2020-0...

                                                  title        date  \
0     Why We Still Can’t Stop Oil Spills From Damagi...  2020-09-10
1     One of the World’s Richest Petrostates Is Runn...  2020-09-02
2     Apollo Group Invests $2.7 Billion in UAE Oil F...  2020-09-02
3     Hin Leong Banks Hit a Snag to Tap $1.5 Billion...  2020-09-01
4     Australia’s $200 Billion LNG Boom Waylaid by C...  2020-09-04
...                                                 ...         ...
2188     Five Things You Need to Know to Start Your Day  2020-03-31
2189  Virus Drives Record Sales of Sanitary Products...  2020-03-31
2190  Home Cooks Are Grabbing Discount Wagyu, Uni, a...  2020-03-30
2191  JPMorgan Seeks Up to $10 Billion for Alternati...  2020-03-30
2192  Paying $4.79 a Gallon, California Didn’t Get t...  2020-03-31

                  id                                               tags  \
0     QFRC52DWLU6K01  Generic 1st 'CL' Future,Environment,Mauritius,...
1     QFKLUNT0G1KZ01  Kuwait,Generic 1st 'CL' Future,Organization of...
2     QFPY0YT0AFB601  Generic 1st 'CL' Future,Abu Dhabi,APOLLO EDUCA...
3     QFR1LQT1UM0W01  Generic 1st 'CL' Future,HSBC HOLDINGS PLC,Sing...
4     QFJFC4T0AFB601  Australia,Government,CHEVRON CORP,Generic 1st ...
...              ...                                                ...
2188  Q81LHET0AFBA01  Stock Futures,Europe,Generic 1st 'CL' Future,C...
2189  Q81EY5T0G1KY01  Japan,Coronavirus,Alcohol,Shinzo Abe,Markets,P...
2190  Q80MZPDWLU6F01  Coronavirus,New York,British Pound Spot,Generi...
2191  Q80K42T0G1KW01  JPMORGAN CHASE & CO,Alternative Investments,Co...
2192  Q80JXNT0G1L701  California,Generic 1st 'XB' Future,Hawaii,Conn...

                                            description
0     It has been more than half a century since the...
1     When Kuwait’s then-Finance Minister Anas Al-Sa...
2     A consortium led by Apollo Global Management I...
3     Efforts by banks including HSBC Holdings Plc a...
4     Cooks on strike and cracked equipment are amon...
...                                                 ...
2188         Get up to speed with what’s moving markets
2189  Japanese sellers of masks, toilet paper and ot...
2190  Forget those canned beans. Ultraluxe foods are...
2191  JPMorgan Chase & Co.’s alternative-investments...
2192  At least there’s this: The average price for a...

[2193 rows x 6 columns]

In [372]:
prices = pd.read_csv('prices.csv')
oil2 = make_prices(prices, oil1)
# print(oil2)

In [373]:
drills = pd.read_csv('convertcsv.csv')
oil3 = make_drills(drills, oil2)
# print(oil3)

In [374]:
#accidents = pd.read_csv('accidents.csv')

In [375]:
#print(accidents.keys())

In [376]:
# print(accidents['Net Loss (Barrels)'])
# print(accidents['All Fatalities'])
# print(accidents['All Costs'])

In [377]:
oil3.to_csv('result.csv', index=False)

In [378]:
# df = pd.read_csv('data - копия.csv')
# prices = pd.read_csv('prices.csv')
# drills = pd.read_csv('convertcsv.csv')
# oil = make_oil(df)
# oil = make_prices(prices, oil)
# oil = make_drills(drills, oil)
# oil.to_csv('test.csv', index=False)